<div class="col-xs-12 col-md-2 sidebar">
  			<div class="row">
	<!-- uncomment code for absolute positioning tweek see top comment in css -->
	<div class="absolute-wrapper"> </div>
	<!-- Menu -->
	<div class="side-menu">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container">
				<ul class="nav navbar-nav">

					<li><a style="background-color: #b52283; color: #fff"><span class="glyphicon glyphicon-dashboard"></span> Admin dashboard</a></li>
					<li><a href="#"><span class="fa fa-users"></span> Activate Users</a></li>
					<li><a href="#"><span class="fa fa-image"></span> Manage gallery</a></li>
					<li><a href="#"><span class="fa fa-window-restore"></span> Approve projects</a></li>
					<li><a href="#"><span class="fa fa-question-circle"></span> Approve questions</a></li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

	</div>
</div>
</div>