<app-slider></app-slider>
<div class="page-header">
<h1> Most of the time, you just need a little push in the right direction. </h1>
<h2>RBK might be the push you need </h2>
<h3>Feel free to ask us .. </h3> </div>

<div class="media" *ngFor="let item of q.slice().reverse() " >
	<div class= "well" *ngIf= "item.approved">
		<div class = "media-left">
			<i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{ item.name }}</h4>
			<p>{{ item.text }}</p>
			<div [hidden]="item.show">
				<button type="button" class="btn btn-link" (click) = "item.show = !item.show"> View comments</button> </div>
				<div [hidden]="!item.show">
					<div class="media" *ngFor="let x of item.comments" >
						<div class= "well">
							<div class = "media-left">
								<i id ="c" class="fa fa-reply-all" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<p>{{x.text}}</p>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-link" (click) = "item.show = !item.show"> Hide comments</button>

					<input class="form-control input-lg" id="comment" type="text" placeholder= "Your comment" [(ngModel)]="newComment.comment">
					<br>
					<button type="button" class="btn btn-primary" (click)= "addC(item.text,newComment.comment )" >Add comment</button>
					<br>
					<br>
				</div>
			</div>
		</div>
		</div>

<div class= "well">
	<div class="form-group">
		<label for="inputlg" >Name</label>
		<input class="form-control input-lg" id="name" type="text" placeholder= "Enter your name" [(ngModel)]="newEntry.name">
		<br>
		<label for="inputlg">Question</label>
		<input class="form-control input-lg" id="question" type="text" placeholder= "Add you question here" [(ngModel)]="newEntry.question">
		<br>
		<button  type="button" class="btn btn-primary" (click)= "addQ(newEntry.name,newEntry.question)" >Ask</button>
	</div> 
</div>




