<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
		  <h1>RBK Projects <small>from all cohorts</small></h1>
		</div>
	</div>
		<div class="col-sm-6 col-md-3" *ngFor="let project of projects">
		    <div class="thumbnail">
		      <img src="{{project.img}}" alt="...">
		      <div class="caption" style="font:#b52283">
		        <h3 style="color: #b52283">{{ project.title }}</h3>
		        <p style="color: #b52283" > <i class="fa fa-users" aria-hidden="true"  style="font-size: 1.5em"></i>Team Members : {{ project.teamMembers }}</p>
		        <p style="color: #b52283" style="font-size: 4.0em;text-align: center"><a href="{{ project.gitHubLink }}" target="_blank"><i class="fa fa-github" style="color: #b52283"></i></a><a href="{{ project.url}}" target="_blank"><i class="fa fa-link" style="color: #b52283" aria-hidden="true"></i></a></p>

		        <p style="color: #b52283" *ngIf="project.url" style="font-size: 3em "></p>
		      </div>
		    </div>
		  </div>
		  
		  <div class="col-xs-12" *ngIf="flag" >
		  <button type="button" class="btn btn-outline-primary"><a style="color: #b52283" routerLink="/addproject" >Add project</a></button></div>
		  
		  
		  
</div>