<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
		  <h1>RBK Projects <small>from all cohorts</small></h1>
		</div>
	</div>
		<div class="col-sm-6 col-md-3" *ngFor="let project of projects">
		    <div class="thumbnail">
		      <img src="http://i.imgur.com/B1bOmIG.png" alt="...">
		      <div class="caption">
		        <h3>{{ project.title }}</h3>
		        <p>Team Members : {{ project.teamMembers }}</p>
		        <p *ngIf="project.url" style="font-size: 2em"><a href="{{ project.url}}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i>Link</a></p>
		        <p style="font-size: 2em"><a href="{{ project.gitHubLink }}" target="_blank"><i class="fa fa-github"></i>GitHubLink</a></p>
		      </div>
		    </div>
		  </div>
		   <div>
		   	<form class="form-horizntal" method="post" action="#" (ngSubmit)="addProject()">
		   		<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Project Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input type="text" class="form-control" name="title" placeholder="Enter your title project" [(ngModel)]="projects.title" required/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Project Url</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input type="text" class="form-control" name="url" placeholder="Enter your url" [(ngModel)]="projects.url" required/>
						</div>
					</div>
				</div>
					<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Project GitHubLink</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input type="text" class="form-control" name="gitHubLink" placeholder="Enter your gitHubLink" [(ngModel)]="projects.gitHubLink" required/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Project img</label>
				     <div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input type="text" class="form-control" name="img" placeholder="Enter your img" [(ngModel)]="projects.img" required/>
						</div>
					</div>
				</div>
		   	</form>
		 </div>
</div>
