<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
		  <h1>RBK Warriors <small>from all cohorts</small></h1>
		</div>
	</div>
		<div class="col-sm-3" *ngFor="let grad of grads">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="{{ grad.img }}" alt="" />
				</div>
				<div class="content">
					<p>{{ grad.displayName }} <br>
						{{ grad.currentJob }}</p>
						<p style="font-size: 3.0em"><a href="{{ grad.gitHub }}" target="_blank"><i class="fa fa-github"></i></a>  <a href="{{ grad.linkedIn }}" target="_blank"><i class="fa fa-linkedin"></i></a></p>
						<p><button type="button" class="btn btn-default">View more</button></p>
				</div>
			</div>
		</div>
<!-- 
				<div class="col-sm-3">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="http://bootsnipp.com/img/avatars/a72ba2f5fa63d21110945fbea19e7f9ad249786b.jpg" alt="" />
				</div>
				<div class="content">
					<p>Ali Al Ali <br>
						Web Developer at Expedia</p>
						<p><button type="button" class="btn btn-default">Contact</button></p>
				</div>
			</div>
		</div>

				<div class="col-sm-3">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="http://bootsnipp.com/img/avatars/a72ba2f5fa63d21110945fbea19e7f9ad249786b.jpg" alt="" />
				</div>
				<div class="content">
					<p>Ali Al Ali <br>
						Web Developer at Expedia</p>
						<p><button type="button" class="btn btn-default">Contact</button></p>
				</div>
			</div>
		</div>

				<div class="col-sm-3">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="http://bootsnipp.com/img/avatars/a72ba2f5fa63d21110945fbea19e7f9ad249786b.jpg" alt="" />
				</div>
				<div class="content">
					<p>Ali Al Ali <br>
						Web Developer at Expedia</p>
						<p><button type="button" class="btn btn-default">Contact</button></p>
				</div>
			</div>
		</div>

 -->

</div>



<!-- projects -->
<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
		  <h1>RBK Projects <small>from all cohorts</small></h1>
		</div>
	</div>
		<div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="http://i.imgur.com/B1bOmIG.png" alt="...">
		      <div class="caption">
		        <h3>Otbo5ly project</h3>
		        <p>Web application to help people sell their homemade food to others</p>
		        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
		      </div>
		    </div>
		  </div>

		<div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="http://i.imgur.com/B1bOmIG.png" alt="...">
		      <div class="caption">
		        <h3>Otbo5ly project</h3>
		        <p>Web application to help people sell their homemade food to others</p>
		        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="http://i.imgur.com/B1bOmIG.png" alt="...">
		      <div class="caption">
		        <h3>Otbo5ly project</h3>
		        <p>Web application to help people sell their homemade food to others</p>
		        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="http://i.imgur.com/B1bOmIG.png" alt="...">
		      <div class="caption">
		        <h3>Otbo5ly project</h3>
		        <p>Web application to help people sell their homemade food to others</p>
		        <p><a href="#" class="btn btn-default" role="button">View More</a></p>
		      </div>
		    </div>
		  </div>
				



</div>