<div class="row main-bg" style="background-image: url('http://scontent.fruh1-1.fna.fbcdn.net/v/t1.0-9/16507846_1664973273518451_6696914676950201906_n.jpg?oh=52d509cc70a2137d18e23ff6fd3dc09f&amp;oe=596FB6D0');">
	<div class="col-md-10 col-md-offset-1" style="position: absolute;bottom: 30px;">
		<blockquote>
			<h3 style="text-transform: uppercase;">Preseverance is your weapon, knowledge is your key</h3>
			<footer style="color: violet;">RBK Warriors in <cite title="Source Title"> book of greatness</cite></footer>
		</blockquote>

	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
		  <h1>RBK Warriors <small>from all cohorts</small></h1>
		</div>
		<div class="col-sm-3">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="http://bootsnipp.com/img/avatars/a72ba2f5fa63d21110945fbea19e7f9ad249786b.jpg" alt="" />
				</div>
				<div class="content">
					<p>Ali Al Ali <br>
						Web Developer at Expedia</p>
						<p><button type="button" class="btn btn-default">Contact</button></p>
				</div>
			</div>
		</div>

				<div class="col-sm-3">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="http://bootsnipp.com/img/avatars/a72ba2f5fa63d21110945fbea19e7f9ad249786b.jpg" alt="" />
				</div>
				<div class="content">
					<p>Ali Al Ali <br>
						Web Developer at Expedia</p>
						<p><button type="button" class="btn btn-default">Contact</button></p>
				</div>
			</div>
		</div>

				<div class="col-sm-3">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="http://bootsnipp.com/img/avatars/a72ba2f5fa63d21110945fbea19e7f9ad249786b.jpg" alt="" />
				</div>
				<div class="content">
					<p>Ali Al Ali <br>
						Web Developer at Expedia</p>
						<p><button type="button" class="btn btn-default">Contact</button></p>
				</div>
			</div>
		</div>

				<div class="col-sm-3">
			<div class="card">
					<div class="header-bg">
					</div>
				
				<div class="avatar">
					<img src="http://bootsnipp.com/img/avatars/a72ba2f5fa63d21110945fbea19e7f9ad249786b.jpg" alt="" />
				</div>
				<div class="content">
					<p>Ali Al Ali <br>
						Web Developer at Expedia</p>
						<p><button type="button" class="btn btn-default">Contact</button></p>
				</div>
			</div>
		</div>


	</div>

</div>