
<app-slider></app-slider>
<div class="container">
	<div class="row main">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h2>Add your new Achievment</h2>
			</div>
		</div> 
		<div class="main-login main-center">


			<div class="form-group">
				<label for="password" class="cols-sm-2 control-label">Category</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-tasks" aria-hidden="true"></i></span>
						<select class="form-control" [(ngModel)]="newAch.category" required>
							<option>New Job</option>
							<option>Promotion</option>
							<option>Project</option>
							<option>Certification</option>
							<option>Competition</option>
							<option>Other</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="confirm" class="cols-sm-2 control-label">Description</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
						<input type="text" class="form-control" placeholder="Add description" [(ngModel)]="newAch.desc" required/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="confirm" class="cols-sm-2 control-label">Url</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-external-link" aria-hidden="true"></i></span>
						<input type="text" class="form-control" placeholder="Enter Url link" [(ngModel)]="newAch.url" required />
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="confirm" class="cols-sm-2 control-label">Date</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
						<input type="date" class="form-control" placeholder="Enter the date" [(ngModel)]="newAch.date" required />
					</div>
				</div>
			</div>

			<div class="form-group ">
				<button class="btn btn-primary btn-lg btn-block login-button" (click) ="insertData()" >Add</button>
			</div>
		</div>
	</div>
</div>