.main{
 	margin-top: 10px;
}

.cohortSelect {
	width: 100%;
    border-radius: 4px;
    padding: 8px;
    border-color: #cccccc;
}

span > i {
	color: #fff;
}

span.input-group-addon {
	background-color: #b52283;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px !important;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #f5f5f5;
 	border: 1px solid #dedede;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 500px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
	background-color: #b52283 !important;
	color: #fff;
	border-color: #9a0e6b;
}

.login-button:hover {
	background-color: #d63ba1 !important;
}


.login-register{
	font-size: 11px;
	text-align: center;
}