<app-slider></app-slider>
<div class="container">
	<div class="row main" >
	 	 <div class="panel-heading">
	 		<div class="panel-title text-center">
				 <h2>Add your project </h2>
	   		</div>
        </div> 
        <div class="main-login main-center">
			<form class="form-horizontal" method="post" (ngSubmit)="addProject(name,url,gitHubLink,[teamMembers1,teamMembers2,teamMembers3,teamMembers4])">
			<div class="form-group">
			 <label for="name" class="cols-sm-2 control-label">Project Name </label>
				<div class="cols-sm-10">
					<div class="input-group">
		     			<span class="input-group-addon"><i class="fa fa-window-restore" aria-hidden="true" ></i></span>
		     			<input name="name" class="form-control" id="name" type="text" [(ngModel)]="name" required>
	     			</div>
	     		</div>
	     	</div>
	     	<div class="form-group">
	     		<label for="basic-url">Project URL</label>
	     		<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"> <i style="font-size: 1.5em" class="fa fa-external-link" aria-hidden="true"></i>(https or http) ://example.com</span>
	                       <input name="url" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="url" required>
	                       </div>
	            </div>
	         </div>
	   
       	<div class="form-group">
       		 <label for="inputlg">Project Github  </label>
       	 	<div class="cols-sm-10">
				<div class="input-group">
         			<span class="input-group-addon" id="basic-addon3"><i class="fa fa-github" aria-hidden="true"  style="font-size: 1.5em"></i></span>
         			<input name="gitHubLink" class="form-control input-lg" id="gitHubLink" type="text" [(ngModel)]="gitHubLink" required>
       			 </div>
        	</div>
        </div>
	    	<div class="form-group">
		    	<label for="inputlg" >Project Team </label>
		    	<div class="cols-sm-10">
					<div class="input-group" style="width: 100%%"><span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"  style="font-size: 1.5em"></i></span>
					    <select  class="form-control" name="teamMembers1" [(ngModel)]="teamMembers1" required>
					    	<option *ngFor="let grades of drob"  value={{grades._id}} >{{grades.displayName}}</option>
					    </select>
					    <br>
					     <select  class="form-control" name="teamMembers2" [(ngModel)]="teamMembers2" >
					    	<option *ngFor="let grades of drob"  value={{grades._id}} >{{grades.displayName}}</option>
					    </select>
					      <br>
					     <select  class="form-control" name="teamMembers3" [(ngModel)]="teamMembers3" >
					    	<option *ngFor="let grades of drob"  value={{grades._id}} >{{grades.displayName}}</option>
					    </select>
					      <br>
					     <select  class="form-control" name="teamMembers4" [(ngModel)]="teamMembers4" >
					    	<option *ngFor="let grades of drob"  value={{grades._id}} >{{grades.displayName}}</option>
					    </select>
	    			</div>
	    		</div>
	   		 </div>
	    	<br>
	    	<button class="btn btn-rbk btn-lg btn-block login-button">Done</button>
		</form>
	</div>
  </div> 
 </div>


				