<div class="row main-bg" style="background-image: url('http://scontent.fruh1-1.fna.fbcdn.net/v/t1.0-9/16507846_1664973273518451_6696914676950201906_n.jpg?oh=52d509cc70a2137d18e23ff6fd3dc09f&amp;oe=596FB6D0');">
  <div class="col-md-10 col-md-offset-1" style="position: absolute;bottom: 30px;">
    <blockquote>
      <h3 style="text-transform: uppercase;">Perseverance is your weapon, knowledge is your key</h3>
      <footer style="color: violet;">RBK Warriors in <cite title="Source Title"> book of greatness</cite></footer>
    </blockquote>

  </div>
</div>