<div class="row avatar-bg">
	<div class="card">
		<div class="header-bg">
		</div>

		<div class="avatar">
			<img src="{{ profileData.img }}" alt="" />
		</div>
		<h3>[ {{ profileData?.displayName }} ]</h3>
	</div>
</div>


<div class="row icon-container">
	<div class="col-md-10 col-md-offset-1 col-xs-12">

		<div class="col-md-4 col-xs-12 text-center">
			<a href="{{profileData?.profileUrl}}" target="_blank">
			<div class="col-xs-12 icon-bg">
				<i class="fa fa-github"></i>
			</div>
			<div class="col-xs-12 icon-title">
				<h5>/{{ profileData?.username }}</h5>
			</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<a href="{{profileData?.linkedIn}}" target="_blank">
			<div class="col-xs-12 icon-bg">
				<i class="fa fa-linkedin"></i>
			</div>
			<div class="col-xs-12 icon-title">
				<h5>/{{ profileData?.username }}</h5>
			</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<a href="emailto:{{profileData?.email}}">
			<div class="col-xs-12 icon-bg">
				<i class="fa fa-envelope"></i>
			</div>
			<div class="col-xs-12 icon-title">
				<h5>{{ profileData?.email }}</h5>
			</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<div class="col-xs-12 icon-bg">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="col-xs-12 icon-title">
			<h5>{{ profileData?.currentJob }}</h5>
		</div>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<div class="col-xs-12 icon-bg">
			<i class="fa fa-graduation-cap"></i>
		</div>
		<div class="col-xs-12 icon-title">
			<h5>{{ profileData?.mainMajor }}</h5>
		</div>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<div class="col-xs-12 icon-bg">
			<i class="fa fa-address-book-o"></i>
		</div>
		<div class="col-xs-12 icon-title">
			<h5>Cohort <b>{{ profileData?.cohort }}</b></h5>
		</div>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<div class="col-xs-12 icon-bg">
			<i class="fa fa-user"></i>
		</div>
		<div class="col-xs-12 icon-title">
			<h5><b>{{ profileData?.age }}</b> years</h5>
		</div>
		</div>		

		<div class="col-md-4 col-xs-12 text-center">
			<div class="col-xs-12 icon-bg">
			<i class="fa fa-window-restore"></i>
		</div>
		<div class="col-xs-12 icon-title">
			<h5><b>{{ profileData?.publicRepos }}</b> public repos</h5>
		</div>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<div class="col-xs-12 icon-bg">
			<i class="fa fa-users"></i>
		</div>
		<div class="col-xs-12 icon-title">
			<h5><b>{{ profileData?.followers }}</b> gitHub followers</h5>
		</div>
		</div>		

	</div>


</div>


<div class="row" *ngIf="profileData.projects.length > 0">
	<div class="col-xs-12">
		<div class="page-header">
		  <h1>{{ profileData.displayName }} Projects <small>from cohort {{ profileData.cohort }}</small></h1>
		</div>
	</div>
	<div class="col-sm-6 col-md-3" *ngFor="let project of profileData.projects">
	    <div class="thumbnail">
	      <img src="{{ project.img }}" />
	      <div class="caption">
	        <h3><a href="{{ project?.url }}" target="_blank">{{ project.title }}</a></h3>
	        <p>Team Members : <span *ngFor="let member of project.teamMembers">
		        	<a routerLink="warriors/{{ member.username }}">{{ member.displayName }} </a> 
		        </span></p>
	        <p><a routerLink="/projects" class="btn btn-default" role="button">View More</a></p>
	      </div>
	    </div>
	</div>
</div>

<div class="row" *ngIf="profileData.achievments.length > 0">
	<div class="col-xs-12">
		<div class="page-header">
		  <h1>{{ profileData.displayName }} achievments</h1>
		</div>
	</div>

	<div class="col-md-10 col-md-offset-1 col-xs-12">

		<div class="col-md-4 col-xs-12 text-center" *ngFor="let achievment of profileData.achievments">
			<a href="{{profileData?.gitHub}}">
				<div class="col-xs-12 icon-bg">
					<i class="{{ achievment?.iconClass }}"></i>
					<p>{{ achievment.categoray }}</p>
				</div>
				<div class="col-xs-12 icon-title">
					<h5>{{ achievment.desc }}</h5>
				</div>
				<div class="col-xs-12 icon-title" style="border-top : 1px solid #f5f5f5"
				*ngIf="achievment.date">
					<h5>{{ achievment.date }}</h5>
				</div>
			</a>
		</div>


	</div>

</div>